{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Мини библиотека</title>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
	<div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'add_book' %}">Добавить много книг</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
        <li><a href="{% url 'tables' %}">Просмотр книг</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Войти на сайт</a></li>
        <li><a href="{% url 'register' %}">Зарегистрироваться на сайте</a></li>
        {% endif %}
      </ul>
    </div>
<body>
    <main>
    </main>


<!-- Блок контента -->
{% block content %}
{% endblock %}

	</div>
</body>
</html>
